.textoopc{
    text-align: center; 
    margin: 0px; 
    font-size: 36px; 
    color: #D56B1D;
}

.opc{
    width: 250px; 
    padding: 20px
}

.banner{
    padding: 100px 85px 200px 95px;
    width: 1600px;
}