.textoopc{
    text-align: center; 
    margin: 0px; 
    font-size: 36px; 
    color: #D56B1D;
}

.opc{
    width: 250px; 
    padding: 20px
}

.banner{
    padding: 100px 85px 200px 95px;
    width: 1600px;
}

footer {
    text-align: center;
    padding: 9px;
    background-color: linear-gradient(to left, #C8E17F, #FFF3A4);
    color: black;
    bottom: 0;
    width: 100%;
}